doctype html
html
    head
        title SerialPort Reader
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        style.
            .app-color {
                background: #1D262F;
            }

            .main-content {
                background: #0B1B2B;
                margin-top: 50px;
                margin-left: 20px;
                margin-right: 20px;
                min-height: 800px;
            }

            .display {
                background: #000811;
                /* min-width: 400px; */
                max-width: 400px;
                /* min-height: 400px; */
                max-height: 200px;
            }
    body.app-color
        .main-content
            h1(style='color: white;text-align: center;padding-top: 20px;') Serial Port Reader
            hr
            div(style='color:antiquewhite;')
                .row
                    .col-md-8(style='padding-left: 100px;')
                        button#start.btn.btn-outline-info Start
                        button#stop.btn.btn-outline-danger Stop
                        form(id='form')
                            .form-group
                                label(for='serialport') Serial Port
                                input#serialport.form-control(type='text', name='port', placeholder='/dev/ttyACM0')
                            .form-group
                                label(for='serialport') Baud rate
                                input#baudrate.form-control(type='number', name='baudrate', placeholder='9600')
                            div
                                input.btn.btn-outline-info(type='submit' id='submit')
                    .col-md-4.display
                        h2#text(style='padding-top: 30px;padding-left: 60px;font-size:80px;', h2='')
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')
        script.

            $(document).ready(function () {
                // let text = document.getElementById('text');
                // let text =
                var socket = io.connect('http://localhost:3006');
                socket.on('data', function (message) {
                    // console.log(message);
                    // text.innerHTML = message;
                    $("#text").html(message);
                });

                $("#submit").click(function () {
                    let data = {
                        port: $("#port").value(),
                        baudrate: $("#baudrate").value()
                    };
                    socket.emit('config-port', data);
                });

                $('#start').click(function () {
                    console.log('clicked on start button');
                    socket.emit('start', []);
                });

                $('#stop').click(function () {
                    console.log('clicked on stop');
                    socket.emit('stop', []);
                    // $("#text").html('');
                });
            });

